extend ../layout

block content
	.container
		.row
			.col-md-7
				if movie.flash
					embed(src=movie.flash, allowFullScreen="true", quality="high", width="720", height="600", align="middle", type="application/x-shockwave-flash")
				else
					img(src=movie.poster, width = '720')
				.panel.panel-default(style='margin-bottom: 60px;')
					.panel-heading
						h3 评论区
					.panel-body
						ul.media-list
							if comments && comments.length>0
								each item in comments
									//- 多种写法
									- var aa = item.content;
									li.media
										.pull-left
											//- 锚点，跳转到主评论
											a.comment(href="#comments", data-cid=item._id, data-tid=item.from._id) 
												img.media-object(src="#",alt="头像",style="width:64px; height:64px;background:#eee;")
										.media-body
											h4.media-heading #{item.from.name}
											//- span #{item.content} #{aa}
											p= item.content + ": "+ item.from.name
											if item.reply && item.reply.length > 0
												each reply in item.reply
													.media
														.pull-left
															a.comment(href="#comments", data-cid=item._id, data-tid=reply.from?reply.from._id:"无名氏") 
																img.media-object(src="#",alt="头像",style="width:64px; height:64px;background:#eee;")
														.media-body
															h4.media-heading 
																| #{reply.from?reply.from.name:"无名氏"}
																span.text-info &nbsp;回复&nbsp;
																| #{(reply.to?reply.to.name+":":"无名氏：")}
															p= reply.content		
										hr
						#comments
							form#commentForm(method="POST", action="/user/comment")
								input(type="hidden", name="comment[movie]", value = movie._id)
									//- 直接使用movie._id。不用#{}这种
								if user
									input(type="hidden", name="comment[from]", value = user._id)
									input#toId(type="hidden", name="comment[tid]")
									input#commentId(type="hidden", name="comment[cid]")
								.form-group
									textarea.form-control(name = "comment[content]" row="3")
								if user
									button#submit.btn.btn-primary(type="submit") 提交
								else
									a.navbar-link(href="#", data-toggle="modal", data-target="#signinModal") 登陆后评论								
			.col-md-5
				dl.dl-horizontal
					dt 电影名字
					dd #{movie.title}
					dt 导演
					dd= movie.doctor
					dt 国家
					dd= movie.country
					dt 语言
					dd= movie.language
					dt 上映年份
					dd= movie.language
					dt 简介
	
					dd= movie.summary

	script.
		$(() => {// 处理回复评论数据的逻辑
			$('.comment').click((e) => {
				let target = $(e.currentTarget);// 获取元点击素
				let toId = target.data('tid');
				let commentId = target.data('cid');
				// 是否已经点击过了
				$('#toId').val(toId);

				$('#commentId').val(commentId);
				}	
			});
			$('.comment').click((e) => {
				e.preventDefault();
				$.ajax({
					type: 'POST',
					data: $('#commentForm').serialized(),
					url: '/user/comment'
				})
				.done(function(results){
					if(results.success === 1 ){
						window.location.reload();
					}
				});
			});
		});